<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="お気に入りの動画をまとめるサイトです。Keep your favorite movies from any sites.">
    <meta name="googlebot" content="index,follow">
    <meta property="og:url" content="https://example.com/page.html">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Keep Your Movies">
    <meta property="og:image" content="{{ url_for('static', filename='images/logo.jpg') }}">
    <meta property="og:description" content="お気に入りの動画をまとめるサイトです。">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='reset.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>リンクメーカー</title>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93364526-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body class="ma p10" style="background:#fff">
    <header>
      <div>
        <a href="/" class="title">KYP｜お気に入りの動画を保存するなら</a>
      </div>
      <span class="description">
        お気に入りの動画をまとめるサイトです。Keep your favorite movies from any sites.
      </span>
    </header>
      <div id="center-column" class="w100">
        {{all_users}}
      </div>
        </body>
  <footer>
    <div class="center size60" style=" color:#999">
      Produced by <a href="https://twitter.com/starrow1103">@starrow</a>
    </div>
  </footer>
</html>
